$mono210: #000;
$mono205: #828282;
$mono204: #b2b2b2;
$mono203: #d2d2d2;
$mono202: #ededed;
$mono201: #f3f3f3;
$mono200: #fff;

$red: #eb5757;
$blue1: #2f80ed;
$blue2: #2d9cdb;
$blue3: #0078ff;

$green: #6fcf97;
